html {
    font-family: "Comic Sans", "Arial";
}
h1, h2 {
    font-family: "Papyrus";
    color:purple;
}
.horiz-list {
    background-color: grey;
    list-style-type: none;
    margin:0;
    padding:0;
}
.item{
    
    display: inline-block;
    margin: 0;
    padding:16px;
}
.item:hover {
  background-color:#aaa;
}
li a {
    color: black;
}
footer {
    background-color: #ddd;
    color: #555;
    text-align: center;
    padding: 16px;
}